.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }

.title {
    text-align: center;
    font-size: 40px;
}

.mod {
    text-align: center;
    font-size: 25px;
    margin: 40px;
    border-color: rgb(97, 69, 69);
    font-weight: 500;
}

  #rcorners {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
  }

/* Stars in BSandwich1/2/3/4 */

  .checked {
    color: orange;
    cursor: pointer;
  }
  
.tout{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/*  */

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }